/*
Using this for now while we decide on how best to handle icons in this app
*/
.icon-more {
  padding: 5px;
  cursor: pointer;
  text-align: center !important;
}
.icon-more:after {
  content: "⇪";
}

.icon-more:hover {
  color: #fff;
  background-color: @blue-primary;
  border-top: 1px solid @blue-primary;
  border-bottom: 1px solid @blue-primary;
}
