/***************************/
/* Color variables go here */
/* Use: {color}-{modifier} */
/***************************/

@blue-light: #55aaf0;
@blue-primary: #2196f3;
@blue-dark: #2c75af;

@red-light: #FAE2E2;
@red-primary: #EC4C47;
@red-dark: #BF0E08;

@orange-light: #ff7a45;
@orange-primary: #fa541c;
@orange-dark: #d4380d;

@green-light: #D4EEE2;
@green-primary: #47B881;
@green-dark: #00783E
;
